{% extends '_nawbar.html' %}

{% block title %}Free Connvertor{% endblock %}

{% block body %}
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Free Converter</h1>
				<p class="lead text-body-secondary">
					Бесплатный онлайн конвертер файлов 24/7 без регистрации и смс.
				Мы поможем Вам с конвертацией файлов. У файлов ограничение в 50 Мб.
				<br>Мы работаем уже: <p id="result"></p>
				<br>Всего конвертировано файло: <a id='num_file'></a>
				<br>Всего конвертировано: <a id='mb_file'></a> МБ
				</p>
				<br> Выберите что Вам нужно конвертировать:
				<br>
				<p class="p-3">
					<a href="/images" class="btn btn-success my-2">Картинки</a>
					<a href="/videos" class="btn btn-success my-2">Видео</a>
					<a href="/documents" class="btn btn-success my-2">Документы</a>
				</p>
			</div>
		</div>
	</section>

	<script src="{{ url_for('static', filename='js/home/home_time.js') }}"> </script>
	<script src="{{ url_for('static', filename='js/home/home_request.js') }}"> </script>
	<script src="{{ url_for('static', filename='js/home/home_cookies.js') }}"> </script>

{% endblock %}