{% extends '_nawbar.html' %}

{% block title %}Идет конвертация{% endblock %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Free Converter</h1>
                <p class="lead text-body-secondary">
                    Идет конвертация файла, ожидайте появления кнопки скачать.

                    <div id='count'></div>

                    <div class="progress">
                        <div id="progreeBar" class="progress-bar progress-bar-inner p-3" role="progressbar" style="width: 5%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </p>
                <p class="p-3">
                    <a href="/images" class="btn btn-success my-2">Скачать</a>
                </p>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/output/output_progressBar.js') }}"> </script>

{% endblock %}