{% extends '_nawbar.html' %}

{% block title %}Конвертор видео{% endblock %}

{% block body %}
    <div class="container mt-5">
        <form method="post" action="/videos" enctype=multipart/form-data>
            <!-- Bootstrap select -->
            Выберите формат в который нужно конвертировать видео:

             <select name="my_select" class="form-select p-3" aria-label="Default select example">
                  <option selected>Выберите формат</option>
                  <option value="mp4">mp4</option>
                  <option value="avi">avi</option>
                  <option value="gif">gif</option>
            </select>

            Выберите видео для загрузки
            <input type=file class="p-3" name=file id="fileInput" onchange="checkFile()">
            <button id="submitButton" class="btn btn-success p-3" style="display: none;">Отправить</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/videos/check_file.js') }}"></script>

{% endblock %}