{% extends '_nawbar.html' %}

{% block title %}Конвертор видео{% endblock %}

{% block body %}
    <div class="container mt-5">

        <form method="post" action="/videos" enctype=multipart/form-data>
            <!-- Bootstrap select -->
             <select name="my_select" class="form-select" aria-label="Default select example">
                  <option selected>Выберите формат</option>
                  <option value="mp4">mp4</option>
                  <option value="avi">avi</option>
                  <option value="gif">gif</option>
            </select>

            Выберите видео для загрузки
            <input type=file name=file>
            <br><br>
            <input type="submit" class="btn btn-success" value="Загрузить"><br>
        </form>

<!--        <form action="/process_select" method="post">-->

<!--            <select name="my_select">-->
<!--                <option value="option1">Опция 1</option>-->
<!--                <option value="option2">Опция 2</option>-->
<!--                <option value="option3">Опция 3</option>-->
<!--            </select>-->

<!--            <br> <input type="submit" value="Отправить">-->
<!--        </form>-->

    </div>
{% endblock %}